@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400,600;1,400&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
}

body:before {
  content: "";
  background-image: url("../screenshots/pokemon-go-background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
}

.main-screen {
  padding: 0px 25px;
  color: white;
}
