.nav {
  position: fixed;
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 30px 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__comment {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__ellipsis {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
