#no-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #dc484d;
}

#no-mobile span {
  z-index: 99;
}

#no-mobile:before {
  content: "";
  background-image: url("././screenshots/pokeball.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 98;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
