.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px var(--horizontal-space) var(--horizontal-space);
}

.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
