.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px var(--horizontal-space) var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  bottom: 20px;
  left: 75px;
}

.screen-header__icons__dot2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  bottom: 20px;
  left: 125px;
}

@keyframes rotateCog {
  from {
    tansform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
